<!doctype html>
<html lang='en'>
<head>
    <meta charset ="UTF-8">
    <title> Kalkulator </title>
</head>
<body>
    <h1> Mengurangkan 2 Angka </h1>
    <form action="/kurang" method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="submit" name="Submit">
    </form>
</body>
<html>