<!doctype html>
<html lang='en'>
<head>
    <meta charset ="UTF-8">
    <title> Nama </title>
</head>
<body>
    <h1> Menampilkan Nama </h1>
    <form action="/halo" method="post">
        <input type="text" name="nama" placeholder="Nama Anda">
        <input type="submit" name="Submit">
    </form>
</body>
<html>